<html>
​

<head>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- ROS stuff -->
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/easeljs/lib/easeljs.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/eventemitter2/lib/eventemitter2.min.js"></script>
    <script type="text/javascript" src="https://s3.eu-west-1.amazonaws.com/rosject.io/js/roslib.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/ros2d/build/ros2d.min.js"></script>

    <!-- 3D visualization -->
    <script src="./libs/three.min.js"></script>
    <script src="./libs/STLLoader.js"></script>
    <script src="./libs/ros3d.min.js"></script>

    <!-- Vuejs -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.min.js">
    </script>

    <!-- Link CSS style -->
    <link rel="stylesheet" type="text/css" href="style.css" />

    <!-- Add MJPEGCANVAS lib -->
    <script type="text/javascript" src="mjpegcanvas.min.js"></script>

</head>
​

<body>
    <div id="app" class="container-fluid">
        <div class="row">
            <div class="col-3 text-center">
                <div class="card mt-1">
                    <div class="card-body">
                        <h3>Connection status</h3>
                        <p class="text-danger" v-if="!connected">Not connected!</p>
                        <p class="text-success" v-if="connected">Connected!</p>
                        <label>ROSBridge address</label>
                        <br>
                        <input type="text" v-model="rosbridge_address" />
                        <br><br>
                        <button :disabled="loading" class="btn btn-danger" @click="disconnect"
                            v-if="connected">Disconnect!</button>
                        <button :disabled="loading" class="btn btn-success" @click="connect" v-else>Connect!</button>
                    </div>
                </div>
                <div class="card mt-2">
                    <div class="card-header">
                        <h4>Logs</h5>
                    </div>
                    <div class="card-body">
                        <p v-for="log in logs">{{ log }}</p>
                    </div>
                </div>
            </div>
            <div :class="connected ? 'col-12' : 'col-9'">
                <div class="row">
                    <div class="col-12">
                        <div class="card mt-2">
                            <div class="card-header">
                                <h4>Robot model</h4>
                            </div>
                            <div class="card-body">
                                <div id="div3DViewer"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-4">
                        <div class="card mt-2">
                            <div class="card-header">
                                <h4>Camera</h4>
                            </div>
                            <div class="card-body">
                                <div class="col-md-12 col-sm-6 text-center">
                                    <div id="divCamera"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-8">
                        <div class="card mt-2">
                            <div class="card-header">
                                <h4>Commands</h4>
                            </div>
                            <div class="card-body">
                                <div class="card-body text-center">
                                    <h2 class="text-center">Joystick</h2>
                                    <hr>
                                    <p>Some actions for the robot</p>
                                    <div id="dragstartzone" @mousedown="startDrag" @mousemove="doDrag">
                                    </div>
                                    <div id="dragCircle" :style="dragCircleStyle"></div>
                                </div>
                            </div>
                            <div class="card-body">
                                <h3 class="text-left">Joystick values</h2>
                                    <hr />
                                    <p>Vertical: {{ joystick.vertical.toFixed(3) }}</p>
                                    <br />
                                    <p>Horizontal: {{ joystick.horizontal.toFixed(3) }}</p>
                            </div>

                            <div>
                                <label>Goal</label>
                                <div>
                                    <label>X</label>
                                    <input type="number" v-model.number="action.goal.position.x" />
                                </div>
                                <div>
                                    <label>Y</label>
                                    <input type="number" v-model.number="action.goal.position.y" />
                                </div>
                                <button :disabled="!connected || action.status.status == 1"
                                    @click="sendGoal">Start</button>
                                <button :disabled="!connected || ![1].includes(action.status.status)"
                                    @click="cancelGoal">Cancel</button>
                            </div>
                            <hr />
                            <div>
                                <label class="text-muted">Feedback</label>
                                <p>Position: {{ action.feedback.position }}</p>
                                <p>State: {{ action.feedback.state }}</p>
                            </div>
                            <hr />
                            <div>
                                <label class="text-muted">Result</label>
                                <p>Succeeded? {{ action.result.success }}</p>
                            </div>
                            <hr />
                            <div>
                                <label class="text-muted">Status</label>
                                <p>{{ action.status.text }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    ​
    <script type="text/javascript">
        // We could have loaded main.js simply with:
        //  <script type="text/javascript" src="main.js">
        //
        // BUT we were having caching-related problems.
        // Loading main.js with a Date.now() in the URL we avoid using cache

        var script = document.createElement('script');
        script.type = 'text/javascript';
        script.src = 'main.js?v=11.' + Date.now();
        document.head.appendChild(script);
    </script>
</body>
​

</html>