<html>

<head>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- ROS stuff -->
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/easeljs/lib/easeljs.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/eventemitter2/lib/eventemitter2.min.js"></script>
    <script type="text/javascript" src="https://s3.eu-west-1.amazonaws.com/rosject.io/js/roslib.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/ros2d/build/ros2d.min.js"></script>

    <!-- 3D visualization -->
    <script src="./libs/three.min.js"></script>
    <script src="./libs/STLLoader.js"></script>
    <script src="./libs/ros3d.min.js"></script>

    <!-- Vuejs -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.min.js">
    </script>

    <!-- Link CSS style -->
    <link rel="stylesheet" type="text/css" href="style.css" />

    <!-- Add MJPEGCANVAS lib -->
    <script type="text/javascript" src="mjpegcanvas.min.js"></script>

</head>

<body>
    <div id="app" class="container-fluid">
        <button class="btn btn-info mb-2" @click="toggleConnectionPanel">Toggle Connection Panel</button>

        <div class="row">
            <!-- Connection Column -->
            <div class="col-3 text-center" v-show="showConnectionPanel">
                <div class="card mt-1">
                    <div class="card-body">
                        <h3>Connection status</h3>
                        <p class="text-danger" v-if="!connected">Not connected!</p>
                        <p class="text-success" v-if="connected">Connected!</p>
                        <label>ROSBridge address</label>
                        <br>
                        <input type="text" v-model="rosbridge_address" class="w-100 text-wrap" />
                        <br><br>
                        <button :disabled="loading" class="btn btn-danger" @click="disconnect"
                            v-if="connected">Disconnect!</button>
                        <button :disabled="loading" class="btn btn-success" @click="connect" v-else>Connect!</button>
                    </div>
                </div>
                <div class="card mt-2">
                    <div class="card-header">
                        <h4>Logs</h4>
                    </div>
                    <div class="card-body">
                        <p v-for="log in logs">{{ log }}</p>
                    </div>
                </div>
            </div>

            <!-- Main Content (3D viewer, camera, control etc.)  -->
            <div :class="showConnectionPanel ? 'col-9' : 'col-12'">
                <div class="row">
                    <div class="col-12">
                        <div class="card mt-2">
                            <div class="card-header">
                                <h4>Naive Mapping</h4>
                            </div>
                            <div class="alert alert-warning alert-modern" role="alert">
                                The red markers shown are hardcoded.
                                This visualization shows where the robot thinks
                                it is.
                            </div>
                            <div class="card-body position-relative">
                                <div id="div3DViewer"></div>
                                <div v-if="connected" class="joystick-container text-center">
                                    <div id="dragstartzone" @mousedown="startDrag" @mousemove="doDrag"></div>
                                    <div id="dragCircle" :style="dragCircleStyle"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8 col-12">
                        <div class="card card-modern mt-2" style="min-height: 500px;">
                            <div
                                class="card-header card-header-modern d-flex justify-content-between align-items-center">
                                <h4>Camera</h4>
                                <div id="liveIndicator" class="live-indicator" v-show="cameraReady"></div>
                            </div>
                            <div class="card-body card-body-modern" style="height: calc(100% - 56px);">
                                <div id="divCamera"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-12">
                        <div class="card card-modern mt-2">
                            <div class="card-header card-header-modern">
                                <h4>Commands</h4>
                            </div>
                            <div class="card-body card-body-modern">
                                <div>
                                    <label class="minimal-label">Goal</label>
                                    <div class="mb-2">
                                        <label class="minimal-label">X</label>
                                        <input type="number" v-model.number="action.goal.position.x"
                                            class="input-full-width" />
                                    </div>
                                    <div class="mb-2">
                                        <label class="minimal-label">Y</label>
                                        <input type="number" v-model.number="action.goal.position.y"
                                            class="input-full-width" />
                                    </div>
                                    <button :disabled="!connected || action.status.status == 1"
                                        class="btn btn-light-green" @click="sendGoal">Start</button>
                                    <button :disabled="!connected || ![1].includes(action.status.status)"
                                        class="btn btn-light-red" @click="cancelGoal">Cancel</button>
                                </div>
                                <div class="divider"></div>
                                <div>
                                    <label class="minimal-label text-muted">Feedback</label>
                                    <p>Position: {{ action.feedback.position }}</p>
                                    <p>State: {{ action.feedback.state }}</p>
                                </div>
                                <div class="divider"></div>
                                <div>
                                    <label class="minimal-label text-muted">Result</label>
                                    <p>Succeeded? {{ action.result.success }}</p>
                                </div>
                                <div class="divider"></div>
                                <div>
                                    <label class="minimal-label text-muted">Status</label>
                                    <p>{{ action.status.text }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    ​
    <script type="text/javascript">
        // We could have loaded main.js simply with:
        //  <script type="text/javascript" src="main.js">
        //
        // BUT we were having caching-related problems.
        // Loading main.js with a Date.now() in the URL we avoid using cache

        var script = document.createElement('script');
        script.type = 'text/javascript';
        script.src = 'main.js?v=11.' + Date.now();
        document.head.appendChild(script);
    </script>
</body>
​

</html>