#dragstartzone {
    position: relative;
    display: inline-block;
    width: 200px;
    height: 200px;
    border: 1px solid #333;
    border-radius: 50%;
    z-index: 10;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
}

#dragCircle {
    position: absolute;
    z-index: 9;
    border: 1px solid transparent;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 30%);
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
}

#dragCircle:hover {
    background-color: lightcoral;
}